@page "/counter"
@using Fluxor;
@using StarterKit.Blazor.WebAssembly.Client.State.Counter
@inject IDispatcher dispatcher
@inject IState<CounterState> counterState
@attribute [Authorize]

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @counterState.Value.ClickCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        dispatcher.Dispatch(new IncrementCounterAction());
    }
}
